<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Urodziny</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="imie">Imie</label>
                    <input class="form-control" type="text" name="imie" id="imie" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="data">Data urodzenia</label>
                    <input class="form-control" type="date" name="data" id="data" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>