@model Employee

<form method="POST" asp-action="DeleteConfirm" asp-route-id="@Model.Id">
    <p>Czy na pewno chcesz usunąć @Model.Name @Model.Surname ?</p>
    <button type="submit">TAK</button>
    <a asp-action="Index">Powrót</a>
</form>